*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
     
   /*------- primary --------*/
    
   --clr-orange: hsl(26, 100%, 55%);
   --clr-pale-orange: hsl(25, 100%, 94%);

  /*-------- neutral ---------*/

    --clr-dark-blue : hsl(220, 13%, 13%);
    --clr-dark-grayish-blue : hsl(219, 9%, 45%);
    --clr-grayish-blue : hsl(220, 14%, 75%);
    --clr-light-grayish-blue : hsl(223, 64%, 98%);
    --clr-white : hsl(0, 0%, 100%);
    --clr-black : hsl(0, 0%, 0%, 75%);
}

/*------------- Typography -------------*/

.uppercase{
    text-transform: uppercase;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
}

/*------------ header --------------*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6em 0;
    border-bottom: 1px solid var(--clr-grayish-blue);
    margin-bottom: 2em;
}

.open-nav,
.close-nav{
    display: none;
}

.header-container{
    display: flex;
    align-items: center;
}

.logo-image{
    width: 140px;
    height: 20px;
}


.nav-list{
    display: flex;
    list-style-type: none;
}

.nav-item{
    text-decoration: none;
    margin-right: 1.2em;
    margin-left: 1.8em;
    cursor: pointer;
    opacity: .45;
}

.nav-item:hover{
    opacity: 1;
}

.nav-item:hover::after{
    content: '';
    display: block;
    width: 3em;
    height: 4px;
    position: absolute;
    top: 86px;
    background-color: var(--clr-orange);
}

.cart-container{
    display: flex;
    align-items: center;
}

.cart-amount{
    position: absolute;
    top: 24px;
    margin-left: 12px;
    font-size: 10px;
    padding: 3px 6px;
    border-radius: 50%;
    background-color: var(--clr-orange);
    color: var(--clr-white);
    display: none;
}

.my-image{
    width: 40px;
    border-radius: 50%;
    margin-left: 2.5em;
    background-color: var(--clr-light-grayish-blue);
}

.my-image:hover,
.my-image:focus{
    border: 2px solid var(--clr-orange);
    border-radius: 50%;
}

.cart-image,
.my-image{
    cursor: pointer;
}


/*------------- image-section ------------*/

main{
    display: flex;
    margin-top: 4.45em;
}

.main-image{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.overlay-1{
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.overlay-2,
.overlay-3,
.overlay-4{
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
}

.image-section{
    width: 70%;
    padding-inline: 2em;
    min-width: 300px;
   
}

.thumbnail-image{
    display: flex;
}

.small-image{
    margin-right: 1.6em;
    margin-top: 1.5em;
    width: 20%;
    cursor: pointer;
}

.small-image:hover,
.small-image:focus{
    color: var(--clr-white);
    opacity: .45;
}

.small-image[aria-selected = 'true']{
    color: var(--clr-white);
    opacity: .45;
    border: 2px solid orange;
}

.product-image,
.small-image{
    border-radius: 8px;
}

.carousel-icon{
    display: none;
}

/*----------- info-section -----------*/

.info-section{
    margin-left: 4.5em ;
    margin-top: 2.6em;
}

.info-heading{
    font-size: .8em;
    letter-spacing: 2px;
    color: var(--clr-orange);
    font-weight: 800;
}

.info-title{
    font-size: 2.65em;
    letter-spacing: 1.1px;
}

.block-text{
    display: block;
}

.info-desc{
    margin-top: 1.25em;
    letter-spacing: 1.5px;
    line-height: 1.6;
    width: 75%;
    font-size: .85em;
    opacity: .75;
}

.info-price{
    display: flex;
    margin-top: 1em;
}

.price{
    font-size: 1.8em;
    font-weight: 900;
    letter-spacing: 1.5px;
}

.actual--price{
    margin-top: .2em;
    color: var(--clr-grayish-blue);
}

.actual--price::after{
    content: '';
    display: block;
    width: 3.6em;
    height: 1px;
    margin: -.6em .1em;
    background-color: var(--clr-grayish-blue);
}

.discount{
    margin-left: 1em;
    padding: .2em .3em;
    margin-top: .25em;
    align-self: flex-start;
    background-color: var(--clr-pale-orange);
    color: var(--clr-orange);
    border-radius: 6px;
}

.btn-container{
    display: flex;
    align-items: center;
    margin-top: 3em;
}

.counter{
    display: flex;
    align-items: center;
    padding: 1em 2em;
    border-radius: 8px;
    background-color: var(--clr-light-grayish-blue);
}

.count{
    margin: 0 2.4em;
}

.btn{
    display: flex;
    align-items: center;
    margin-left: 2em;
    padding: 1em 4em;
    background-color: var(--clr-orange);
    color: var(--clr-white);
    font-weight: 800;
    border-radius: 8px;
    cursor: pointer;
    min-width: 250px;
}

.btn:hover,
.btn-focus{
    background-color: hsl(25, 100%, 80%);
}

.increment,
.decrement{
    cursor: pointer;
}

.btn-image{
    width: 20px;
    margin-right: 1em;
}

.cart-items{
    position: relative;
}

.cart-header{
    position: absolute;
    background-color: var(--clr-white);
    z-index: 2000;
    top: 60px;
    right: 80px;
    width: 22em;
    opacity: 0;
    border-radius: 8px;
    box-shadow: 1px 1px 25px var(--clr-grayish-blue);
    visibility: hidden;
    transition: all 0.2s;
}

.d-block {
    transition: all 0.5s ease-out;
    opacity: 1;
    visibility: visible;
}
  
.height {
    height: 15.5rem;
}

.cart-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.cart-empty{
    display: none;
}

.cart-full{
    display: flex;
    align-items: center;
    padding-top: 1.4em;
    padding-left: 2em;
    padding-right: 2em;
    display: none;
}

.show{
    display: block;
}

.flex--container{
    display: flex;
    align-items: center;
}

.cart-header-heading{
    font-size: 1.1em;
    padding: 1.2em;
    border-bottom: 1px solid var(--clr-grayish-blue);
}


/* --------- update cart styling ------------ */

.cart-full-image{
    width: 60px;
    margin-right: 1.5em;
    border-radius: 8px;
}

.flex-container{
    display: flex;
    flex-direction: column;
    color: var(--clr-grayish-blue);
}

.cart-full-title{
    font-size: 1em;
}

.bold{
    font-weight: 800;
    color: var(--clr-black);
}

.cart-delete-btn{
    width: 20px;
    height: 20px;
    margin-left: 1.6em;
    cursor: pointer;
}

.cart-full-checkout-btn{
    padding: 1em 5em;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    width: 100%;
    border-radius: 8px;
    background-color: var(--clr-orange);
    color: var(--clr-white);
    font-size: .875em;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}

@media(max-width: 420px){

    body{
        width: 100%;
    }

    header{
        border: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    .logo-image{
        margin-left: 3.5em;
    }

    .cart-container{
        padding-left: 1em;
    }

    .cart-header{
        right: 0;
        margin-right: .5em;
        width: 20em;
    }

    .my-image{
        margin-left: 1em;
        margin-right: 1em;
    }

    .nav-container{
        position: fixed;
        z-index: 100;
        top: 0;
        bottom: 0;
        left: 0;
        right: 60%;
        background-color: var(--clr-white);
        transform: translateX(-100%);
        transition: transform 250ms ease-in-out;
    }

    .navigation-open{
        transform: translateX(0);
    }

    .open-nav{
        border: 0;
        background: 0;
        cursor: pointer;
        font-size: 1.6em;
        padding: .95em;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .75;
    }

    .close-nav{
        border: 0;
        background: 0;
        cursor: pointer;
        font-size: 2.4em;
        padding: .6em;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .75;
    }

    .nav-list{
        display: flex;
        flex-direction: column;
    }

    .nav-item{
        font-weight: 800;
        margin-bottom: 1em;
        opacity: 1;
    }

    .nav-item:first-child{
        margin-top: 6em;
    }

    /*---------- main -----------*/

    main{
        display: flex;
        flex-direction: column;
        margin: 0;
    }


    /*---------- image -----------*/

    .product-image{
        border-radius: 0;
    }

    .thumbnail-image{
        display: none;
    }

    .image-section{
        width: 100%;
        padding-inline: 0;
    }

    .product-image,
    .carousel-item-hidden{
        display: none;
    }

    .carousel-item-visible{
        display: block;
    }

    .carousel-icon{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 100%;
        min-width: 300px;
        top: 40%;
        transform: translateY(-50%);
        z-index: 90;
    }

    .carousel-btn{
        padding: .8em 1em;
        margin: 0 .6em;
        border-radius: 50%;
        background-color: var(--clr-white);
    }

    /*------------ info ------------*/

    .info-section{
        margin: 0;
        padding: 0 1.2em;
    }

    .info-heading{
        margin: 1em 0;
    }

    .info-title{
        font-size: 1.85em;
    }
    
    .info-desc{
        width: 100%;
        letter-spacing: 1px;
    }

    .info-price{
        justify-content: space-between;
    }

    .price{
        margin-right: .45em;
    }

    .actual-price{
        display: flex;
        align-items: center;
    }

    .actual--price{
        display: flex;
        flex-direction: column;
        margin-top: -.8em;
    }

    .btn-container{
        display: flex;
        flex-direction: column;
    }

    .counter{
        padding: 1em 1.2em;
    }

    .increment{
        margin-left: 5em;
    }

    .decrement{
        margin-right: 5em;
    }

    .btn{
        margin: 0;
        margin-top: 1em;
        margin-bottom: 4em;
        padding: 1em 6em;
    }
}